.alert {
    transition: opacity 0.25s linear;
    opacity: 0;
}

.alert.show {
    transition: opacity 0.50s linear;
    opacity: 1;
}



















.modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: none;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    padding: 2rem;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding-left: 2.5rem;
    height: 45px;
}

.form-group {
    margin-bottom: 1.5rem;
    margin-top: 30px;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}




.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}

.modal.fade .modal-dialog {
    transform: translate(0, -50px);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
    transform: translate(0, 0);
}
















.animated-dropdown {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}
